.container {
  display: grid;
  grid-template-areas:
    "header header"
    "menu content "
    "footer footer";
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 0.75fr 8.75fr 0.5fr;
  gap: 3px;
  background-color: dodgerblue;
  padding: 5px;
  height: 100vh;
  color: black;
}
.container div {
  background-color: white;
  padding: 10px;
}
.container div.header {
  grid-area: header;
  text-align: center;
}
.container div.menu {
  grid-area: menu;
}
.container div.content {
  grid-area: content;
}
.container div.footer {
  grid-area: footer;
  text-align: center;  
}